@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap');

:root {
    --clr-primary-100: hsl(167, 36%, 54%);
    --clr-primary-200: hsl(205, 41%, 21%);
    --clr-primary-300: hsl(245, 10%, 22%);
    --clr-secondary-100: hsl(0, 0%, 98%);
    --clr-secondary-200: hsl(240, 2%, 92%);
    --clr-secondary-300: hsl(0, 90%, 57%);

    /*========== Font and typography ==========*/
    --headings-font: 'Ibarra Real Nova', serif;
    --body-font: 'Public Sans', sans-serif;
    --h-size-large: 3.125rem;
    --h-size-medium: 2.5rem;
    --h-size-small: 1rem;
    --body-small: 0.9375rem;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
}

body {
    background-color: var(--clr-secondary-100);
    color: var(--clr-primary-300);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== Reusable Classes ===============*/
.container {
    max-width: calc(1110px + 4rem);
    padding: 0 2rem;
    margin: 0 auto;
}

/*=============== Nav ===============*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}

.nav__list {
    display: none;
    flex-direction: column;
    gap: 2rem;
    color: #fff;
    background-color: var(--clr-primary-300);
    width: 233px;
    padding: 2.5rem 0;
    text-align: center;
    position: absolute;
    top: 88px;
    right: 0;
}

.nav__link {
    display: block;
    line-height: 14px;
    letter-spacing: 2px;
}
.nav__link:hover {
    color: var(--clr-primary-100);
}

.nav__menu-toggler {
    font-size: 1.5rem;
    cursor: pointer;
}

/*=============== Nav (Tablet and Desktop) ===============*/
@media screen and (min-width: 768px) {
    .nav__menu-toggler {
        display: none !important;
    }

    .nav__list {
        display: flex !important;
        flex-direction: row;
        gap: 2.6rem;
        position: relative;
        top: auto;
        right: auto;
        width: auto;
        padding: 0;
        background-color: initial;
        color: initial;
        font-size: 0.76rem;
    }
}
